header {
  background: #000;
}
header .pre-header {
  background: linear-gradient(to right, #060606 0%, #2e2e2e);
  height: 30px;
  padding: 0 40px;
}
header .pre-header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .pre-header ul li {
  margin-left: 40px;
  margin-top: 6px;
}
header .pre-header ul li:first-child a {
  color: #f97000;
}
header .pre-header ul li a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  display: flex;
}
header nav {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
header nav ul li a:hover::after {
  display: block;
}
header nav ul li a::after {
  content: "";
  display: none;
  background: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

section.hero h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 100px 0;
  margin-bottom: 500px;
  text-align: center;
}
section.hero span {
  font-weight: 600;
  background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
section.featured {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  background: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  margin-top: 170px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  section.featured {
    padding: 0 40px 20px 40px;
  }
}
section.featured .feature-item {
  flex: 0 0 33%;
}
@media (max-width: 991px) {
  section.featured .feature-item {
    flex: 0 0 27%;
  }
}
@media (max-width: 767px) {
  section.featured .feature-item {
    flex: 0 0 80%;
    margin: 60px auto;
  }
}
section.featured .feature-item img {
  width: 80%;
}
@media (max-width: 991px) {
  section.featured .feature-item img {
    width: 100%;
  }
}
section.featured .feature-item p {
  max-width: 300px;
  margin: 20px auto;
}
section.featured .feature-item button {
  background: #f97000;
  padding: 10px 15px;
  color: #fff;
  font-size: 1rem;
}
section.featured .feature-item button:hover {
  border: 1px solid #fff;
  background: transparent;
  transition: 0.3s ease;
}

section.products {
  padding: 100px 0;
}
section.products h2 {
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 767px) {
  section.products h2 {
    font-size: 1.3rem;
    padding: 15px;
  }
}
section.products .container {
  display: flex;
  flex-wrap: wrap;
}
section.products .container .products-item {
  color: #fff;
  width: 100%;
  height: 710px;
  transition: 0.4s ease;
  position: relative;
}
@media (max-width: 767px) {
  section.products .container .products-item {
    background-position: center;
    height: 510px;
    margin-bottom: 40px;
  }
}
section.products .container .products-item:hover {
  transition: 0.4s ease;
}
section.products .container .products-item:hover .overley {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
section.products .container .products-item.product-keyboard {
  background: url(../img/product1.jpg);
}
section.products .container .products-item.product-headset {
  background: url(../img/product2.jpg);
}
section.products .container .products-item .product-info {
  padding: 40px;
}
section.products .container .products-item .product-info h3 {
  font-size: 2rem;
  font-weight: 300;
}
section.products .container .products-item .overley {
  display: none;
  background: rgba(0, 0, 0, 0);
  background: #000;
  position: absolute;
  transition: 0.3s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
section.products .container .products-item .overley button {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 45%;
  background: #fff;
  color: #000;
  padding: 20px 30px;
}
@media (max-width: 767px) {
  section.products .container .products-item .overley button {
    margin-top: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
